* {
  margin: 0;
  padding: 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
  align-items: flex-end;
  padding: 15px 20px 20px 20px;
  background: lightgray;
  border-radius: 10px;
  margin: 10px;
}

h1 {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 100%;
}
.buttons button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
.buttons button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 1px;
  transition: 0.3s;
}
.buttons button:active {
  transition: 0.3s;
  transform: translateY(2px);
}

.input {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 20px;
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  outline: none;
  margin: 0;
}
.input::-moz-placeholder {
  color: #000;
}
.input:-ms-input-placeholder {
  color: #000;
}
.input::placeholder {
  color: #000;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.data-num {
  position: relative;
}
.data-num::before {
  font-family: sans-serif;
  font-size: 20px;
  text-align: right;
  content: attr(data-num);
  position: absolute;
  height: 100%;
  line-height: 1;
  display: flex;
  align-items: center;
  left: 10px;
}